<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista de Pacientes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Terapia - Pacientes</a>

                    <div class="collapse show navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <div class="navbar-nav">
                            {% if session.get('user') %}
                                <span class="navbar-text me-3">
                                    Hola, {{ session['user'] }}
                                </span>

                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Añadir
                                    </a>
    
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for('add_person') }}">Paciente</a>
                                        <a class="dropdown-item" href="{{ url_for('add_session') }}">Sesión</a>
                                    </div>
                                </div>

                                <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
                                <a class="nav-link" href="{{ url_for('register') }}">Registrarse</a>
                                <a class="nav-link" href="{{ url_for('reset_password') }}">Resetear contraseña</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="container mt-4">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-info">
                  {% for message in messages %}
                    <div>{{ message }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            {% block main %}{% endblock main %}
        </main>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
