{% extends "base.html" %}

{% block main %}
    <h1 class="my-4 text-center">Añadir un Nuevo Paciente</h1>

    <form action="{{ url_for('add_person') }}" method="post" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del Paciente</label>

            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary bg-dark">Agregar</button>
    </form>
{% endblock main %}