{% extends "base.html" %}

{% block main %}
    <h1 class="my-4 text-center">Editar Sesión de {{ name|title }}</h1>

    <form action="{{ url_for('update_session', id=id, name=name) }}" method="post" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label for="session_date" class="form-label">Fecha de la Sesión</label>
            <input type="date" id="session_date" name="session_date" class="form-control" value="{{ date }}" required>
        </div>
        <div class="mb-3">
            <label for="session_price" class="form-label">Precio de la Sesión ($)</label>
            <input type="number" id="session_price" name="session_price" class="form-control" step="0.01" value="{{ price }}" required>
        </div>
        <button type="submit" class="btn btn-primary bg-dark">Editar</button>
    </form>
{% endblock main %}