{% extends "base.html" %}

{% block main %}
    <h1 class="my-4">Pacientes con Sesiones Pendientes</h1>
    
    <div>
        <div>
            {% for label, filter in filters %}
                <a class="btn btn-secondary {% if show == filter or not show and loop.index == 1 %}active{% endif %}" href="{{ url_for('index') }}?show={{filter}}">{{label|upper}}</a>
            {% endfor %}
        </div>

        {% if total %}
            {% for name, sessions in grouped_sessions.items() %}
                {% if sessions %}
                <div class="mt-4">
                    <h2>{{ name }}</h2>

                    <ul class="list-group">
                        {% for id, date, price, pending in sessions %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Estado:</strong>
                                {% if not pending %}<strong class="text-success">PAGADO</strong>{% endif %}
                                {% if pending %}<strong class="text-warning">PENDIENTE</strong>{% endif %}
                                <br>
                                <strong>Fecha de Sesión:</strong>
                                {{ date }}
                                <br>

                                <strong>Precio:</strong> {{ price }}
                            </div>
                            
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-secondary" href="{{ url_for('update_session', id=id, name=name) }}">Editar</a>
                                {% if pending %}
                                    <a href="{{ url_for('toggle_pending', id=id) }}" class="btn btn-primary">Pagó</a>
                                {% else %}
                                    {% if allow_delete %}
                                    <a href="{{ url_for('remove_session', id=id) }}" class="btn btn-primary">Eliminar</a>
                                    {% endif %}
                                    <a href="{{ url_for('toggle_pending', id=id) }}" class="btn btn-primary">Pendiente</a>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2 class="mt-4">No hay resultados.</h2>
        {% endif %}
    </div>
{% endblock main %}