<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista de Pacientes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    </head>

    <body class="container mt-4">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Terapia - Pacientes</a>

                    <div class="navbar-nav">
                        <a class="nav-link" href="{{ url_for('add_person') }}">Añadir Paciente</a>
                        <a class="nav-link" href="{{ url_for('add_session') }}">Añadir Sesión</a>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <h1 class="my-4 text-center">Pacientes con Sesiones Pendientes</h1>

            {% for name, sessions in grouped_sessions.items() %}
            <div class="container mt-4">
                <h2>{{ name }}</h2>

                <ul class="list-group">
                    {% for id, date, price in sessions %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>Fecha de Sesión:</strong> {{ date }} <br>

                            <strong>Precio:</strong> {{ price }}
                        </div>

                        <a href="{{ url_for('remove_session', id=id) }}" class="btn btn-danger bg-dark btn-sm">Eliminar</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </main>
    </body>
</html>
